* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
}

html {
  padding: 0.5rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

.hidden {
  display: none !important;
}


h1,
h2 {
  font-size: 16px;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 15.6px;
}

thead tr th {
  position: sticky;
  top: 0;
  background: #fff;
  cursor: ns-resize;
  border-bottom: solid 1px #ccc;
}

tbody tr:hover {
  background: #eef;
}

th {
  color: #111;
  text-align: left;
  vertical-align: bottom;
}

td,
th {
  white-space: nowrap;
  padding: 3px 6.5px 3px 0;
}

tbody tr:first-child td {
  padding-top: 4px;
}

td,
tr:not(:last-child) th {
  border-bottom: solid 1px #eee;
}

td {
  color: #444;
  vertical-align: top;
}

.chart {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  margin: 0.4rem;
}