* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

:root {
  --primary: rgb(56, 56, 56);
  --app-width: min(1200px, 100%);
}

html,
body {
  width: 100%;
  max-width: 100%;
}

html {
  padding: 0.5rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

.hidden {
  display: none !important;
}

.info {
  margin: 10rem;
  font-size: larger;
  display: block;
  text-align: center;
}


/* Markup */

article {
  width: max-content;
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

button {
  border: 0;
  background-color: var(--primary);
  color: white;
}

h1 {
  font-size: 20px;
  margin: 1rem 0rem;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0.5rem 0rem;
}

p {
  margin: 0.5rem 0rem;
}

/* Charts & Tables */

.chart {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  margin: 0.4rem;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 15.6px;
}

thead tr th {
  position: sticky;
  top: 0;
  background: #fff;
  cursor: ns-resize;
  border-bottom: solid 1px #ccc;
}

tbody tr:hover {
  background: #eef;
}

th {
  color: #111;
  text-align: left;
  vertical-align: bottom;
}

td,
th {
  white-space: nowrap;
  padding: 3px 6.5px 3px 0;
}

tbody tr:first-child td {
  padding-top: 4px;
}

td,
tr:not(:last-child) th {
  border-bottom: solid 1px #eee;
}

td {
  color: #444;
  vertical-align: top;
}